.sidebar ul li:hover {
    background-color: #CE5A67;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover a {
    color: white;
}

.active {
    background-color: #CE5A67;
    border-radius: 5px;
    color: white;
}

.bg-maroon {
    background-color: #860A35;
}